/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require grails
*= require main
*= require mobile
*= require_self
*/

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 100px auto;
    grid-template-areas:    "header header"
                            "menu content";
}

#header {
    grid-area: header;
}

#menu {
    grid-area: menu;
    height: 100%;
    width: 100%;
    background-color: #ccc;
}

#menu li {
    width: 100%;
    cursor: pointer;
    padding: 20px;
    font-size: 16px;
}

#menu a {
    text-decoration: none;
}

#content .container {
    width: 100%;
    max-width: none;
}

#menu li:hover {
    background-color: #f1f1f1;
}

#content {
    grid-area: content;
    margin: 0;
}